{% extends 'base_deliver.html' %}
{% block content %}

<div class="row g-3">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% for e in exports %}
        <div class="card border-primary mb-3">
            <div class="card-header">{{e.id}}</div>
            <div class="card-body text-primary">
                {% if not valid %}
                <h5 class="card-title">{{e.address}}</h5>
                <p class="card-text text-danger">Ngày lấy hàng: {{e.pickup_time}}</p>
                <p class="card-text">Sản phẩm: {{e.products}}</p>
                <a href="/deliver/processing/{{e.id}}/" class="card-text btn btn-primary">Xác nhận lấy hàng</a>
                {% else%}
                <h5 class="card-title">{{valid}}</h5>
                {% endif %}
            </div>
        </div>
        {% endfor %}

</div>

{% endblock%}