{% extends 'base_deliver.html' %}
{% block content %}

<div class="row g-3">
    
        <div class="card border-primary mb-3">
            <div class="card-header">{{export.id}}</div>
            <div class="card-body text-primary">
                {% if not export.valid %}
                <h5 class="card-title">{{export.address}}</h5>
                <p class="card-text text-danger">Hạn giao: {{export.delivered_at}}</p>
                <p class="card-text">Sản phẩm: {{export.products}}</p>
                <a href="/deliver/processing/{{export.id}}/" class="card-text btn btn-primary">Đã lấy hàng</a>
                {% else%}
                <h5 class="card-title">{{export.valid}}</h5>
                {% endif %}
            </div>
        </div>

</div>

{% endblock%}