{% extends 'base.html' %}
{% block content %}
  <div class="page-header">
    <div>
      <div class="title">Chọn sản phẩm xuất kho</div>
      <div class="subtitle">Thiết lập số lượng xuất cho từng sản phẩm</div>
    </div>
  </div>

  <div class="mt-16 card-panel">
    <div class="card-body">
      <form method="post" action="/exports/create/step-2/">
        {% csrf_token %}
        <div class="mb-16 text-right">
            <label for="inputState" class="form-label">Tài xế khả dụng</label>
            <select id="inputState" class="form-select" name="assigned_to">
              {% for d in deliver %}
              <option selected  value={{d.id}}>{{d.name}}</option>
              {% endfor %}
            </select>
          <button class="btn btn-brand" type="submit">Tạo đơn hàng ngay</button>
        </div>
        <table class="table table-pro mb-0">
          <thead>
            <tr>
              <th scope="col" style="width:220px">Số lượng</th>
              <th scope="col">Tên sản phẩm</th>
            </tr>
          </thead>
          <tbody>
            {% for p in products %}
            <tr>
              <td>
                <input type="number" class="form-control" style="max-width:140px" name="quantity_{{p.id}}">
              </td>
              <td>{{p.name}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  </div>
{% endblock %}

