{% extends 'base.html' %}
{% block content %}
    <h1 class="text-primary" style="width: 100%; text-align: center;">Tạo Phiếu Xuất Kho</h1>
   
    <form class="row g-3" action="/exports/create/" method="post" style="padding: 50px;">
        {% csrf_token %}
        <div class="col-md-4">
            <label class="form-label">Tên khách hàng</label>
            <input type="text" class="form-control" name="customer_name" >
        </div>
        <div class="col-md-4">
            <label class="form-label">Số điện thoại khách hàng</label>
            <input type="text" class="form-control" name="customer_phone" >
        </div>
        <div class="col-md-4">
            <label class="form-label">Địa chị giao hàng</label>
            <input type="text" class="form-control" name="address">
        </div>
        
        <div class="col-md-4">
            <label class="form-label">Ngày lấy hàng</label>
            <input type="datetime-local" class="form-control" name="pickup_time">
        </div>
        
        <div class="col-md-4">
           
        </div>
        
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Tiếp tục</button>
        </div>
    </form>
{% endblock %}