{% extends 'base.html' %}
{% block content%}
  <div class="page-header">
    <div>
      <div class="title">Chi tiết đơn hàng</div>
      <div class="subtitle">Thông tin khách hàng và vận chuyển</div>
    </div>
  </div>

  <div class="card-panel">
    <div class="card-body">
      <form class="row g-3">
        {% csrf_token %}
        <div class="col-md-4">
          <label class="form-label">Tên khách hàng</label>
          <input type="text" class="form-control" value="{{export.customer_name}}" disabled>
        </div>
        <div class="col-md-4">
          <label class="form-label">Số điện thoại khách hàng</label>
          <input type="text" class="form-control" value="{{export.customer_phone}}" disabled>
        </div>
        <div class="col-md-4">
          <label class="form-label">Địa chỉ giao hàng</label>
          <input type="text" class="form-control" value="{{export.address}}" disabled>
        </div>

        <div class="col-md-4">
          <label class="form-label">Tài xế</label>
          <input type="text" class="form-control" value="{{export.assigned_to}}" disabled>
        </div>

        <div class="col-md-4">
          <label class="form-label">Hạn lấy hàng</label>
          <input type="text" class="form-control" value="{{export.pickup_time}}" disabled>
        </div>

        <div class="col-md-4">
          <label class="form-label">Ngày giao thành công</label>
          <input type="text" class="form-control" value="{{export.delivered_at}}" disabled>
        </div>

        <div class="col-md-4">
          <label class="form-label">Trạng thái</label>
          <input type="text" class="form-control" value="{{export.status}}" disabled>
        </div>

        <div class="col-md-4">
          <label class="form-label">Được tạo bởi</label>
          <input type="text" class="form-control" value="{{export.created_by}}" disabled>
        </div>

        <div class="col-md-4">
          <label class="form-label">Ngày tạo phiếu</label>
          <input type="text" class="form-control" value="{{export.created_at}}" disabled>
        </div>

        <div class="col-md-12">
          <label class="form-label">Sản phẩm</label>
          <textarea class="form-control" disabled>{{export.products}}</textarea>
        </div>
        <div class="col-12 text-right">
          <a href="/trackings/{{export.id}}/"  class="btn btn-brand">Xem tình trạng nhận hàng</a>
        </div>
      </form>
    </div>
  </div>
{% endblock%}

